<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResearcherPool"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.ParticipantRDetail.ParticipantRDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Verification.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DetailUser.DetailUserActivity"
            android:exported="false" />
        <activity
            android:name=".UserEntryActivity"
            android:exported="false"
            android:label="@string/title_activity_user_entry" />
        <activity
            android:name=".ui.UpdateForm.UpdatePostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PostForm.PostFormActivity"
            android:exported="false" />
        <activity
            android:name=".EntryActivity"
            android:exported="false"
            android:label="@string/title_activity_entry" />
        <activity
            android:name=".ui.testActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActiviy.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>